body
{
  background: #262626;
  position: absolute;
}

#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	background-color: #000000;
	display: none;
}

.layerpop {
	display: none;
	z-index: 1000;
	border: 2px solid #ccc;
	background: #fff;
}




.layerpop_area .title {
	padding: 10px 10px 10px 10px;
	border: 0px solid #aaaaaa;
	background: #f1f1f1;
	color: #3eb0ce;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 24px;
}
.layerpop_area .layerpop_close {
  position: absolute;
	width: 25px;
	height: 25px;
	display: block;
	top: 0%;
	left: 95%;
	background: transparent url('btn_exit_off.png') no-repeat;
}
.layerpop_area .layerpop_close:hover {
	background: transparent url('btn_exit_on.png') no-repeat;
	cursor: pointer;
}
.layerpop_store {
	display: none;
	z-index: 1000;
	border: 2px solid #ccc;
	background: #fff;
}
.layerpop_store_area .title_store {
	padding: 10px 10px 10px 10px;
	border: 0px solid #aaaaaa;
	background: #f1f1f1;
	color: #3eb0ce;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 24px;
}
.layerpop_store_area .layerpop_store_close {
  position: absolute;
	width: 25px;
	height: 25px;
	display: block;
	top: 0%;
	left: 95%;
	background: transparent url('btn_exit_off.png') no-repeat;
}
.layerpop_store_area .layerpop_store_close:hover {
	background: transparent url('btn_exit_on.png') no-repeat;
	cursor: pointer;
}

.layerpop_area .content {
	width: 96%;
	margin: 2%;
	color: #828282;
}

div.startpageimage {
  position: absolute;
  top : 100px;
  left : 500px;
}

button.setting1 {
  position: absolute;
  top : 500px;
  left : 500px;
  width: 200px;
  height: 100px;
}
button.setting2 {
  position: absolute;
  top : 500px;
  left : 700px;
  width: 200px;
  height: 100px;
}
p.gamestart {
  position: absolute;
  font-size: 20px;
}
