body
{
  background: #262626;
}

#clock
  {
    color: wheat;
    position: fixed;
    right: 0px;
    float: right;
    width: 190px;
    height: 40px;
    margin-right: 5px;
    border: 4px solid wheat;
  }

.food{
  width: 20px;
  height: 20px;
  top: 70%;
  left:50%;
}

.menu-buttons{
    margin: 20px;
    margin-bottom: -10px;
    margin-left: 28%;
}
button.dogam{
  position: relative;
  top : 10%;
  left : 10%;
  background: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 10%;
  color: rgba(#2f51c8, 0.88);
}
button.inventory{
  position: relative;
  left : 10%;
  background: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 10%;
  color: rgba(#2f51c8, 0.88);
}
button.shop{
  position: relative;
  left : 10%;
  background: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 10%;
  color: rgba(#2f51c8, 0.88);
}

button.friend{
  position: relative;
  left : 10%;
  background: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 10%;
  color: #262626;
}

button.setting{
  position: relative;
  left : 10%;
  background: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 10%;
  color: #262626;
}

.box
{
  position: absolute;
  height: 70%;
  width: 70%;
  top : 15%;
  left : 10%;
  border: 1px solid wheat;
  transform-origin: bottom center;
  animation: animate 5s linear infinite;
  background-image: url("../img/aqua.jpg");
}

.rightside {
  position: absolute;
  top : 50%;
  left : 90%;
  width: 50px;
  height: 50px;
  background-image: url("../img/rightside.png")
}

.leftside {
  position: absolute;
  top : 50%;
  left : 5%;
  width: 50px;
  height: 50px;
  background-image: url("../img/leftside.png")
}


img.fish1
{
  width: 500px;

  animation: animateFish 5s linear infinite;
}
img.fish2
{
  width: 500px;
  animation: animateFish1 10s linear infinite;
}
img.chicken
{
  width: 400px;
  animation: animatechicken 20s Linear infinite;
}


/*-- POPUP common style S ======================================================================================================================== --*/
#mask {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 999;
	background-color: #000000;
	display: none;
}

.layerpop {
	display: none;
	z-index: 1000;
	border: 2px solid #ccc;
	background: #fff;
	cursor: move;
}


.layerpop_store {
	display: none;
	z-index: 1000;
	border: 2px solid #ccc;
	background: #fff;
	cursor: move;
}

.layerpop_area .title {
	padding: 10px 10px 10px 10px;
	border: 0px solid #aaaaaa;
	background: #f1f1f1;
	color: #3eb0ce;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 24px;
}

.layerpop_area .title_store {
	padding: 10px 10px 10px 10px;
	border: 0px solid #aaaaaa;
	background: #f1f1f1;
	color: #3eb0ce;
	font-size: 1.3em;
	font-weight: bold;
	line-height: 24px;
}

.layerpop_area .layerpop_close {
	width: 25px;
	height: 25px;
	display: block;
	position: absolute;
	top: 10px;
	right: 10px;
	background: transparent url('btn_exit_off.png') no-repeat;
}

.layerpop_area .layerpop_close:hover {
	background: transparent url('btn_exit_on.png') no-repeat;
	cursor: pointer;
}

.layerpop_area .content {
	width: 96%;
	margin: 2%;
	color: #828282;
}


@keyframes animateFish
{
  0%
  {
    transform: translate(0,0) rotateY(180deg);
  }
  50%
  {
    transform: translate(400px,0) rotateX(180deg);
  }
  51%
  {
    transform: translate(400px,0) rotateY(0deg);
  }
  100%
  {
    transform: translate(0,0) rotateY(0deg);
  }
}
@keyframes animateFish1
{
  0%
  {
    transform: translate(0,0) rotateY(180deg);
  }
  25%
  {
    transform: translate(50px,0) rotateZ(90deg);
    transform: translate(400px,0) rotateX(180deg);
  }

  51%
  {
    transform: translate(400px,0) rotateY(0deg);
  }
  100%
  {
    transform: translate(0,0) rotateY(0deg);
  }
}
@keyframes animatechicken
{
  0%
  {
    transform: translateY(-50px) rotateY(0deg);
  }
  50%
  {
    transform: translate(0,0) rotateY(0deg);
  }
  100%
  {
    transform: translate(0,0) rotateY(0deg);
  }
}
